In [3]:
import pdfplumber
import pandas as pd

In [ ]:
#该文件已被运行，但也可重复运行

In [5]:
pdf=pdfplumber.open(".\\sources\\ufo.pdf")

In [6]:
ls=[]

In [7]:
for page in pdf.pages:
    for row in page.extract_tables()[0]:
        dt={}
        dt['City']=row[0]
        dt['Colors Reported']=row[1]
        dt['Shape Reported']=row[2]
        dt['State']=row[3]
        dt['Time']=row[4]
        ls.append(dt)
pdf.close()

In [8]:
df=pd.DataFrame(ls)

In [9]:
df=df.iloc[1:]

In [10]:
df.to_csv(".\\sources\\ufo_test.csv",index=False)

In [36]:
df

,City,Colors Reported,Shape Reported,State,Time
1,Ithaca,,TRIANGLE,NY,6/1/1930 22:00
2,Willingboro,None,OTHER,NJ,6/30/1930 20:00
3,Holyoke,,OVAL,CO,2/15/1931 14:00
4,Abilene,,DISK,KS,6/1/1931 13:00
5,New York Worlds Fair,None,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18237,Grant Park,None,TRIANGLE,IL,12/31/2000 23:00
18238,Spirit Lake,,DISK,IA,12/31/2000 23:00
18239,Eagle River,None,,WI,12/31/2000 23:45
18240,Eagle Rive,rRED,LIGHT,WI,12/31/2000 23:45
18241,Ybor,,OVAL,FL,12/31/2000 23:59